services:
  web:
    container_name: pixelvault-web
    environment:
      COMFYUI_API_URL: http://192.168.0.16:3000
      DATABASE_URL: postgresql://admin:internal1234@192.168.0.17:5432/Imagen?schema=public
      NODE_ENV: production
      PORT:4144
    image: ghcr.io/alexzades/imagen:latest
    ports:
      - '4144:4144'
    restart: unless-stopped
    volumes:
      - pixelvault_uploads:/app/public/uploads
volumes:
  pixelvault_uploads: Null