version: '3.8'

services:
  web:
    image: ghcr.io/alexzades/imagen:latest
    
    container_name: pixelvault-web
    
    ports:
      - "4144:4144"
    
    volumes:
      -  /mnt/main/link/Services/Imagen:/app/public/uploads

    environment:
      - NODE_ENV=production
      - PORT=4144
      - HOSTNAME=192.168.0.17
      - DATABASE_URL=postgresql://admin:internal1234@192.168.0.17:5432/Imagen?schema=public
      - COMFYUI_API_URL=http://192.168.0.16:3000
      # - AUTO_GENERATION_SECRET=your-secret-token-here
      
      # Set to "true" to run migrations on startup
      - AUTO_MIGRATE=true
    
    restart: unless-stopped
    
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:4144"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s