services:
  web:
    container_name: pixelvault-web
    environment:
      COMFYUI_API_URL: apiurl
      DATABASE_URL: postgresql://admin:password@hostname:port/databaseName?schema=public
      NODE_ENV: production
      PORT: 4144
    image: ghcr.io/alexzades/imagen:latest
    ports:
      - '4144:4144'
    restart: unless-stopped
    volumes:
      - /mnt/main/link/Services/Imagen:/app/public/uploads
volumes:
  pixelvault_uploads: null